$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "../bower_components/font-awesome/fonts";

@import 'sass-bootstrap/lib/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome.scss';

/* If browser is an old unsupported browser.  Show download */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.nav>.disabled>a{color:#bd2020}
.nav>.disabled>a:hover,.nav>.disabled>a:focus{text-decoration:none;background-color:transparent;cursor:default}
.navbar{overflow:visible;margin-bottom:20px;*position:relative;*z-index:2}
.navbar-inner{min-height:40px;padding-left:20px;padding-right:20px;background-color:#00109c;background-image:-moz-linear-gradient(top, #0011a6, #000e8d);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0011a6), to(#000e8d));background-image:-webkit-linear-gradient(top, #0011a6, #000e8d);background-image:-o-linear-gradient(top, #0011a6, #000e8d);background-image:linear-gradient(to bottom, #0011a6, #000e8d);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0011a6', endColorstr='#ff000e8d', GradientType=0);border:1px solid #00084f;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);box-shadow:0 1px 4px rgba(0,0,0,0.065);*zoom:1}.navbar-inner:before,.navbar-inner:after{display:table;content:"";line-height:0}
.navbar-inner:after{clear:both}
.navbar .container{width:auto}
.nav-collapse.collapse{height:auto;overflow:visible}
.navbar .brand{color:#f00;}.navbar .brand:hover,.navbar .brand:focus{text-decoration:none}
.navbar-text{margin-bottom:0;line-height:40px;color:#bd2020}
.navbar-link{color:#EEE}.navbar-link:hover,.navbar-link:focus{color:#005580}
navbar .input-append .btn-group{margin-top:0}
.navbar .nav>li{float:left}
.navbar .nav>li>a{float:none;padding:10px 15px 10px;color:#EEE;text-decoration:none;text-shadow:0 1px 0 #0011a6}
.navbar .nav .dropdown-toggle .caret{margin-top:8px}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover{background-color:transparent;color:#005580;text-decoration:none}
.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{color:#fcfcfc;text-decoration:none;background-color:#2A6496;-webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);-moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);box-shadow:inset 0 3px 8px rgba(0,0,0,0.125)}

.hero-unit{
    color:inherit;background-color:#fcfcfc;
}

html, body {
    background-color: #CCFFFF;
    margin:0;
    height: 100%;

    background: no-repeat 50% 50%;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.titleLink{
    text-shadow:0 1px 0 #0011a6;
}

.titleLink a{
    color: #EEE;
}

.titleLink a:focus{
    color:#fcfcfc;
}

.titleLink a:hover{
    background-color:transparent;
    color:#005580;
}

/* Custom page footer */
.footer {
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.container{
    padding-top: 10px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 10px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Large desktop */
@media (min-width: 1200px) {
    html, body {
        background-image: url("../images/bigSur2012-XtraLarge.jpg");        
    }
}

/* Responsive: Portrait tablets and up */
/* the styles shouldn’t apply to printed copies of the page or other non-standard devices */
@media screen and (min-width: 768px) {
    html, body {
        background-image: url("../images/bigSur2012-Large.jpg");
    }

    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* SMALL - Landscape phone to portrait tablet */
@media (max-width: 767px) {
    html, body {
        background-image: url("../images/bigSur2012-Medium.jpg");
    }
}

/* XTRA-SMALL Landscape phones and down */
@media (max-width: 480px) {
    html, body {
        background-image: url("../images/bigSur2012-Small.jpg");
    }
}